body {
  overflow: hidden;
  font-size: 16px;
  background-color: black;
  color: pink;
  font-family: roboto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  height: 15vh;
  background-color: pink;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin: 0;
}

.navButtons {
  text-wrap: nowrap;
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  margin-left: 1.5rem;
  padding: 0.95rem;
  background-color: hotpink;
  border-radius: 10px;
  border: 1px dashed black;
  transform: all 0.3s;
}
a,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: var(--txtColorDark);
}

* {
  font-family: "Roboto", sans-serif;
}
user agent stylesheet main {
  display: block;
}
.startScreen {
  width: 40vw;
  height: 45vh;
  margin-top: 100px;
  background-color: rgb(139, 198, 129);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 30%;
  border: 10px solid rgb(255, 170, 0);
  border-radius: 50px;
}
button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 6px;
}
.gameScreen {
  width: 60vw;
  height: 60vh;
  background-color: rgb(255, 255, 112);
  position: absolute;
  top: 30%;
  left: 20%;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}